manuscript.pdf
manuscript.aux
manuscript.log
manuscript.out
manuscript.synctex.gz
manuscript.pdf
Multiresolution_framework/ltx/manuscript.bbl
Multiresolution_framework/ltx/MRIDE.bib.bak
.Ds_Store
Multiresolution_framework/ltx/manuscript.pdf
Multiresolution_framework/ltx/manuscript.blg

Multiresolution_framework/ltx/manuscript.pdf

Multiresolution_framework/ltx/manuscript.bbl

Multiresolution_framework/ltx/MRAIDE.bib.bak

Multiresolution_framework/ltx/manuscript.pdf

Multiresolution_framework/ltx/manuscript.pdf



Multiresolution_framework/ltx/manuscript.bbl

Multiresolution_framework/ltx/manuscript.bbl

Multiresolution_framework/ltx/manuscript.bbl

Multiresolution_framework/ltx/manuscript.bbl

Multiresolution_framework/ltx/manuscript.spl

Multiresolution_framework/ltx/.manuscript.spl

Multiresolution_framework/ltx/manuscript.bbl

Multiresolution_framework/ltx/manuscript.bbl

Multiresolution_framework/ltx/elsarticle/elsarticle-template-1-num.synctex 2

Multiresolution_framework/ltx/manuscript.bbl

Multiresolution_framework/ltx/manuscript.bbl

Multiresolution_framework/ltx/manuscript.bbl

Multiresolution_framework/ltx/manuscript.bbl

Multiresolution_framework/ltx/manuscript.bbl

Multiresolution_framework/ltx/manuscript.bbl

Multiresolution_framework/ltx/manuscript.bbl

Multiresolution_framework/ltx/manuscript.bbl

Multiresolution_framework/ltx/manuscript.bbl

Multiresolution_framework/ltx/manuscript.bbl

Multiresolution_framework/ltx/manuscript.bbl

Multiresolution_framework/ltx/manuscript.bbl

Multiresolution_framework/ltx/MRAIDE.bib

Multiresolution_framework/ltx/ResearchHighlights.aux

Multiresolution_framework/ltx/ResearchHighlights.log

Multiresolution_framework/ltx/ResearchHighlights.pdf

Multiresolution_framework/ltx/ResearchHighlights.synctex.gz

Multiresolution_framework/ltx/ReviewerSuggestions.aux

Multiresolution_framework/ltx/ReviewerSuggestions.log

Multiresolution_framework/ltx/ReviewerSuggestions.pdf

Multiresolution_framework/ltx/ReviewerSuggestions.synctex.gz

Multiresolution_framework/ltx/SubmissionLetter.aux

Multiresolution_framework/ltx/SubmissionLetter.log

Multiresolution_framework/ltx/SubmissionLetter.pdf

Multiresolution_framework/ltx/SubmissionLetter.synctex.gz

Multiresolution_framework/ltx/response_to_reviews.aux

Multiresolution_framework/ltx/response_to_reviews.log

Multiresolution_framework/ltx/response_to_reviews.pdf

Multiresolution_framework/ltx/response_to_reviews.synctex.gz

Multiresolution_framework/ltx/manuscript.bbl
